<!-- @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> -->


@model IEnumerable<app.Models.AltitudeModel>
@{ ViewData["Title"] = "Home Page"; }

<ul>
  @foreach (var record in Model) {
    <li>@record.DisplayText</li>
  }
</ul>
